;!function (root, factory) {
	if (typeof define === 'function' && define.amd)
		define(['bacon'], function (Bacon) {
			return factory(Bacon);
		});
	else if (typeof exports === 'object')
		module.exports = factory(require('baconjs'));
	else
		factory(root.Bacon);
}(this, function (Bacon) {
'use strict';

<%= source %>

return Bacon.Circuit;
});